@import '../../theme.css';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: black;
  padding: 1rem 2rem;
  font-family: var(--font-family), sans-serif;
}

.header-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
}

.header-menu {
  position: relative;
}

.menu-button {
  background-color: darkslategrey;
  color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}